.navbar {
  background-color: #17a0b0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
  color: white;
    /* max-width: 100%;
    height: 120px;
    display: flex; */
    /* all children start on right side instead of default left side */
    /* justify-content: center; */
    
    /* background-color: var(--bg); */
    /* padding: 0 1rem; */
    /* border-bottom: var(--border); */

}

@media (max-width: 991px) and (min-width: 768px){}

.navbar-brand img
img.nav-image {
    /* margin-right: 20px; */
    margin-top: 25px;
    margin-left: 20px;
    float: left;
    /* background-image: url("../../assets/images/logo.png"); */
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    justify-content: left;
    align-items: left;
    top: 0;
    left: 0;
    height: 110px;
    width: 90px;
    vertical-align: middle;
    display: flex;
    padding-left: 10px;
    
}
.nav-link {
  color: white !important;
  font-size: 20px;
}

button.btn {
  border-color: white;
  color: white;
}