h1 {
    color: black;
}
.container {
    background-image: url("../../images/purpleLGstand.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
}