/* .jumbotron {
    color: blue;
    background-image: url("/client/src/assets/images/jumbohead.jpg");
    background-size: cover;
} */
 
/* CONTACT FORM */
.container {
    margin-top: 50px;
}
.form-group {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 100px;
    padding-left: 100px;
    width: 650px;
} 

.form-group button {
    background-color: rgb(13, 183, 202);
    color: white;
}
.contact-form button:focus{
    box-shadow:none;
} 

/* About Page */
.contact-container {
    /* background-color: pink  ; */
    /* background-image: url('../images/purpleLGstand.png'); */
    /* background-image: url('../images/purpleLGstand.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: ;
}
.about-image {
    width: 20px;
} 
    

.contact-container img {
    opacity: 0.5;
}
.text-muted {
    text-align: right;
}
.platform-container{
    background-color: rgb(67, 67, 116, 0.2);
    /* opacity: .1;
    color: black; */
}
.bottom-container {
    background-color: rgb(67, 67, 116, 0.5);
    color: black;
    /* opacity: .1; */
}

/* CART */
.checkoutModal {
    align-items: center;
    background-color: green;
}