@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.d-block {
  opacity: 0.8;
}

.carouselSize {
  height: 255px;
  /* width: auto; */
}

h2 {
  font-family: 'Fredoka One', cursive;
}


.font-size {
    font-weight: 425;
}