
Button.checkout-btn  {
    border-radius: 30px;
    width: 240px;
    background-color: black;
  }
  Button.cancel-btn {
    background-color: rgb(110, 32, 32);
    /* border-color: rgb(110, 32, 32); */
    color: whitesmoke;
    border-radius: 30px;
  }
  #checkoutModal {
    background-color: purple;
    justify-content: center;
  }